ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=replace-with-a-long-random-secret
DATABASE_PATH=./data/subvoid.sqlite
PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_SUBCONVERTER_DEFAULT_BACKEND=http://127.0.0.1:25500/sub?
NEXT_PUBLIC_SUBCONVERTER_DOC_ADVANCED=https://github.com/tindy2013/subconverter/blob/master/README-cn.md
